.propertyItem {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span:first-child {
        margin-bottom: 1rem !important;
    }

    span:last-child {
        color: #fff;
        z-index: 10;
        font-size: 2rem;
    }
}