html,
body {
  padding: 0;
  margin: 0;
  font-family: 
  'CompassSerif',
  // 'Abel', 
  // sans-serif
  ;
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
